@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    background-color: #0f0f0f;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body {
    font-family: 'Roboto', sans-serif;
}

#cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 15px;
}

.cabecalhoEsq {
    display: flex;
    align-items: center;
}

#yticon {
    width: 1.5em;
    margin-left: 50px;
}

#menu-aberto {
    padding: 0 4.5px;
    margin-bottom: 4px;
    cursor: pointer;
    width: 1.6em;
}

.cabecalhoMei {
    display: flex;
}

.cabecalhoMei form {
    display: flex;
}

.cabecalhoMei input {
    width: 600px;
    padding: 10px;
    border: 0;
    height: 100px;
    border: 1px solid #212121;
    height: 40px;
    margin-top: 1.5px;
    border-top-left-radius: 25px; 
    border-bottom-left-radius: 25px;
}

.cabecalhoDir {
    display: flex;
    justify-content: space-between;
}

main {
    height: calc(100vh - 70px);
    display: flex;
    margin: 20px;
}

.video{
    display: block;
    margin-left: 75px;
    
}

iframe {
    border-radius: 15px;
    margin-bottom: 10px;
}

.canal {
    margin-top: 10px;
    display: flex;
}

.canal img {
    width: 2em; background-color: #2b2727; 
    cursor: pointer;
}

.nome-inscr {
    margin-left: 16px;
    font-size: 16px;
    cursor: pointer;
}

.nome-inscr span {
    font-size: 12px;
    color: #7f7f7f;
}

.membro button{
    border: 1px solid #212121;
    margin: 5px;
    margin-left: 25px;
    border-radius: 15px;
    width: 112px;
    height: 34px;
    cursor: pointer;
}

.inscrito button {
    border: 1px solid #212121;
    margin: 5px;
    margin-left: 10px;
    border-radius: 15px;
    width: 112px;
    height: 34px;
    cursor: pointer;
    background-color: #2b2727;
    display: flex;
    align-items: center;
}

.reactions {
    margin-top: 5px;
    display: flex;
}

.likes button {
    width: 97px;
    height: 36px;
    border: 1px solid #212121;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: #2b2727;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.dislike button{
    width: 52px;
    height: 36px;
    border: 1px solid #212121;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #2b2727;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.share-button{
    width: 138px;
    height: 36px;
    border: 1px solid #212121;
    border-radius: 15px;
    background-color: #2b2727;
    display: flex;
    align-items: center;
    margin-top: 5px;
    margin-left: 5px;
    cursor: pointer;
}

.download-button{
    width: 118px;
    height: 36px;
    border: 1px solid #212121;
    border-radius: 15px;
    background-color: #2b2727;
    display: flex;
    align-items: center;
    margin-top: 5px;
    margin-left: 5px;
    cursor: pointer;
}

.thanks-button{
    width: 91px;
    height: 36px;
    border: 1px solid #212121;
    border-radius: 15px;
    background-color: #2b2727;
    display: flex;
    align-items: center;
    margin-top: 5px;
    margin-left: 5px;
    cursor: pointer;
}

.more-button{
    width: 36px;
    height: 36px;
    border: 1px solid #212121;
    border-radius: 15px;
    background-color: #2b2727;
    display: flex;
    justify-content: center;
    margin-top: 5px;
    margin-left: 5px;
    cursor: pointer;
}

.description {
    background-color: #2b2727;
    width: 100%;
    height: 100px;
    border-radius: 15px;
    display: flex;
    margin-top: 10px;
    cursor: pointer;
}

.description ul {
    background-color: #2b2727;
    margin: 10px;
    width: 500px;
}
.description li p{
    background-color: #2b2727;
}



#dir-txt-container {
    margin-left: 20px;
    margin-top: 10px;
    display: inline-block;
    
    width: auto;
    height: auto;
}

.dir-text {
    background-color: #373636;
    border: none;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}

.video-dir{
    display: flex;
    margin-top: 10px;
    cursor: pointer;
    font-size: 15px;
}

.thumbnail {
    border-radius: 8px;
}

ul {
    list-style: none;
    margin-left: 10px;
}

ul li{
    width: 75%;
}

ul li p {
    font-size: 14px;
}

ul li span {
    color: #7f7f7f;
    font-size: 12px;
}

.traco {
    margin: 20px 0;
    background-color: #373636;
    width: 100%;
    height: 3px;
}